@import url('https://font.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

#contactme{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
  width: 100%;
}

#contactme .ccontainer{
  width: 50%;
  padding: 20px;
  margin: 0 auto;
}

#contactme .ccontent h1 {
  margin-left: 6px;
  font-size: 3.5rem;
  color: #fff;
  font-family: 'Roboto';
  margin-bottom: 10px;
}

#contactme .ccontent h2 {
  margin-left: 6px;
  font-size: 2rem;
  color: #fff;
  font-family: 'Roboto';
  margin-bottom: 10px;
  font-weight: 300;
}

.ccontent p {
  color: #747474;
  line-height: 1.6;
  margin: 3rem 0;
}

.social {
  margin-bottom: 25px;
  margin-left: 10px;
}

.ccontent .social a {
  text-decoration: none;
  color: #fff;
  margin-right: 2rem;
  transition: color .3s ease;
  font-size: 1.5rem;
}

.ccontent .social a:hover {
  color: #d6a458;
}

input, textarea {
  width: 100%;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  padding: .75rem;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  margin: .8rem 0;
  border-radius: 2px;
  background: transparent;
  resize: vertical;
  transition: border .3s ease;
}

input:focus, textarea:focus {
  border-bottom-color: #d6a458;
}

.form .flex {
  display: flex;
  justify-content: space-between;
}

.flex>*{
  flex-basis: 49%;
}

::placeholder{
  color: #fff;
  font-size: 14px;
}

/* button */

.form button{
  margin-top: 20px;
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  border: 2px solid #fff; /*border four corners*/
  color: #fff; /*text*/
  background: black;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 16px;
}

.form button:before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background: black;
  transition: 0.5s ease-in-out;
  transform: scaleY(1);
  transition-delay: 0.5s;
}

.form button:hover:before {
  transform: scaleY(0);
  background: black;
}

.form button:after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background: black; /*middle part before*/
  transition: 0.5s ease-in-out;
  transform: scaleX(1);
}

.form button:hover:after {
  transform: scaleX(0);
  background: black;
}

.form button span {
  position: relative;
  z-index: 3;
  background: black;
}
