
/* Footer */
#footer {
	background-color: black;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 10px;
}

#footer p {
	color: white;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

#footer p a:link,
#footer p a:visited{
	color: white;
	font-size: 1.2rem;
	border-bottom: ivory solid 1px;
}

#footer p a:hover{
	color: #d6a458;
	font-size: 1.2rem;
	border-bottom: #d6a458 solid 1px;
}
/* End Footer */
