
/* loader */
.loader{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.loader img{
    width: 30%;
    height: 30%;
}

.disppear{
    animation: mymove 14s forwards;
}

@keyframes mymove
{
    0%   {opacity: 1;}
    25% {opacity: 1;}
    70%  {opacity: 0;}
    100% {opacity: 0;}
}
